@import 'base/reset';
@import 'tools/placeholders';
@import 'tools/animations';
@import 'tools/overrides';
@import 'tools/composants';

//SECTION HEADER
@import 'layout/header';
//FOOTER
@import 'layout/footer';


//AETIA Présentation
#main-presentation{
  min-height:350px;
  background:linear-gradient(to right,rgba($bleu,0.45),rgba($bleu,0.45)),url('../img/background/bg-home_banner.png') no-repeat center;
  //background-size:cover;
  @extend %padding-section;
  @include flex-standard(row,flex-start,center);
}
.main-presentation_content {
  @include flex-standard(column, space-around, flex-start);
    h1{
      font-size:$h1;
      color:$blanc;
      margin-bottom:1rem;
}
  p{
    font-size:$texte;
    color:$blanc;
  }

//OVERRIDES SLICK BUTTONS
.slick-dots:last-child{
  position:static;
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:1rem;
  & > li {
    width:70px;
    height:18px;

    &.slick-active{

        button[role="tab"]{
          opacity:1;
        }
    }

  }
  & > li:not(:last-of-type) {
    margin-right:10px;
  }
}

  .slick-dots  li button[role="tab"]{
    width:100%;
    height:100%;
    background:$blanc;
    opacity:0.30;
    border-radius:5px;

      &:hover,&:focus{
        opacity:1 ;
      }
      &:before{
        content:' ';
      }
  }


  .main-presentation_content{
  //@include flex-standard(column,center,center);
  //      span{
  //        font-size:$texte;
  //        @include text_format;
  //        margin-bottom:1.25rem;
  //      }
  //      h1{
  //        font-size:$h1;
  //        @include text_format($blanc,center,uppercase);
  //        margin-bottom:2rem;
  //        @extend %text-shadow;
  //      }
  //
  //      p{
  //        @include text_format($blanc,center,normal);
  //        line-height:1.2;
  //      }

        &:nth-of-type(2) , &:nth-of-type(3) {
          //display:none;
        }

    }

  // fin main presentation
}

// SECTION Présentation des solutions globales SLIDER
#solutions-presentation{
  @extend %padding-section;
  background: $gris-light;
  overflow:hidden;

    //nav de slider
    .nav-switch{
      // min-height:40px;
      // position:sticky;
      //top:5px;
      //left:0;
      //  z-index:5000;
      // //outline:1px dashed black;
      // background-color:rgba($noir,0.15);
      // display:flex;
      // justify-content: space-between;
      //align-items: center;
      //padding:5px;

      &.scrolled-sticky{
        //background-color:rgba($blanc, 0.45);
      }
      //overrides des positions de slick-arrow
      & .slick-arrow{
        //position:static !important;
        //margin-top:5px;
        //width:30px;
        //height:30px;
        //transform: translate(0,0);
        //fontawesome settings
        & > svg {
          //width:100%;
          //height:100%;
          //color:$noir;
          //font-size:1.5rem;

        }

        &:hover,&:focus{
          > svg {
            //color:$blanc;
          }

        }

        &:before{
          content:'';
        }

      }
    }
  //SLIDER
    .solutions-slider{
        justify-content: space-between;
        .card-container{

        @include flex-standard(column,space-between,center);
        flex: 0 1 23%;
        max-width:23%;
          padding:10px 0;
        background: $blanc;
        perspective: 800px;
        @extend %btn-radius;
        @include box-shadow(0,2px,4px,rgba($noir,0.55));

          .logo-brand-solutions{
            width:180px;
          }

          .card-container_content{
            position:relative;
            @include flex-standard(column,flex-start,flex-start);
            @include box-shadow(0,-1px,0,$gris);
            padding:8px;
            overflow:hidden;

            &  .thumb{
                width:150px;
                height:150px;
                align-self:center;
                margin-bottom:1rem;
                outline:2px dashed red;
                background-color:$gris-light;

              }
            h2{
              margin:1rem 0;
              font-size:$h2;
              color:$gris;
            }
            p{
              line-height:1.1;
            }

            //overlay-content
            .card-container_content--highlight{
              position:absolute;
              top:0;
              left:100%;
              bottom:0;
              height:100%;
              width:0;
              padding:5px;
              @include flex-standard(column,space-between,flex-start);
              background-color:$bleu;
              color:$blanc;
              transition: all 0.15s ease-in-out, opacity 0.1s linear;

              h3{
                color:$blanc;
                font-size:$h3;
                text-align: center;
                opacity: 0;
              }
              ul{
                @include flex-standard(column,space-between,flex-start);
                padding-left:0;
                opacity: 0;
                  li{
                    margin:3px 0;
                    &::before{
                      content: ' ';
                      display:inline-block;
                      @include bg-sizing-pseudo-el(16px,16px);
                      background:url('../img/icon/check-list.svg') no-repeat center;
                      vertical-align: middle;
                      margin-right:10px;
                    }
                  }
                & + a.link-follow{
                  color:$blanc;
                  opacity: 0;
                  &::after{
                    content: ' ';
                    display:inline-block;
                    @include bg-sizing-pseudo-el(16px,16px);
                    background:url('../img/icon/right-arrow-blanc.svg') no-repeat center;
                    vertical-align: middle;
                    margin-left:10px;

                  }

                }
              }

              .card-container_bottom--highlight{
                width:100%;
                padding:1rem 5px 5px;
                @include flex-standard(row,space-between,center);
                @include box-shadow(0,-1px,0,$blanc);
                opacity: 0;
                & > span:first-of-type{
                  position:relative;
                  font-weight:$bold;
                     &::before{
                       content: 'à partir';
                       display:inline-block;
                       position:absolute;
                       top:-50%;
                       left:0;
                       height:15px;
                       line-height:1;
                       font-size:0.65rem;
                       font-style:italic;
                     }
                }
                & .cta-link {
                  font-size:$texte;
                  color:$blanc;
                  font-weight:$bold;
                  text-decoration: underline;
                }
              }
            }

              &:hover{
                .card-container_content--highlight {
                  width:100%;
                  left:0;

                  & h3,ul,a,.card-container_bottom--highlight{
                    opacity: 1;

                  }
                }
              }

          }

          .card-container_bottom{
            width:100%;
            padding:5px 10px;
            @include box-shadow(0,-1px,0,$gris);
            @include flex-standard(row,flex-start,center);
            & span:first-of-type{
              background-color:$gris;
              width:60px;
              height:25px;
              line-height:25px;
              color:$blanc;
              font-weight:bold;
              @extend %btn-radius;
              margin-right:6px;
              text-align: center;
            }
            & span:last-of-type{
              color:$bleu;
              font-size:$texte_2;
            }
          }

        //mode actif sur card
        &.active{
          //background-color:$blanc;

          .path-style{
            //fill:$violet-reg;
            //stroke:$blanc;
            //stroke-width:0;
          }
          h2,p{
            //color:$noir;
          }
          ul {
            //identique à hover a
            //  a {
            //    color:$violet-reg;
            //  }
          }
          .link-follow{
            //background-color:$noir;
            //color:$blanc;
          }
          // fin active state
        }
      }
  }

    }

// SECTION Présentation des solutions Logiciels
#solutions-infra{
  background-color:$blanc;
  @extend %padding-section;
  .services_content--title{
    margin-bottom: 2rem;
  }
  .list-solutions_container{
    @include flex-standard(row,space-between,flex-start);
    flex-wrap:wrap;

    .list-solutions--items{
      //margin-right:3rem;
      //  max-height:200px;  ar flex-wrap donne height auto
        h3{
          position: relative;
         font-size:$h3;
         color:$bleu;
          &::before{
            content: '' ;
            //position: absolute;
            //top:50%;
            //left:-16px;
            //transform: translate(-50%,-50%);
            @include bg-sizing-pseudo-el(16px,16px);
            display:inline-block;
            vertical-align: middle;
            background:url("../img/icon/check-list.svg") no-repeat center;
            margin-right:0.55rem;
            filter:drop-shadow(1px 2px 2px rgba($noir,0.55));
          }

       }
        ul {
          margin-top:1rem;
          padding-left:0;
          @include flex-standard(column,center,flex-start);

            & li {
              font-size: $texte;
              color:$gris;
              font-style: italic;
            }
        }
        img{
          max-width:80px;
          outline:2px solid $bleu;
        }


    }
  }
  .gallery-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height:800px;
    padding:10px;
    align-content:space-between;
    //@include box-shadow(1px,1px,1px,rgba($noir,0.25));

    img{
      outline:3px solid transparent;
      outline-offset:-2px;
      @include transition-standard();
        &:hover{
          outline-color:$bleu;
          outline-offset:0;
          filter:grayscale(50%);
        }
    }
    //styles des photos gallery
    .squarred{
      max-width:300px;
      height:280px;
    //clip-path:polygon(10% 0, 90% 0, 90% 90%, 10% 90%);
    }
    .pano {
      width:100%;
      height:280px;
      //clip-path: polygon(0 25%, 100% 25%, 100% 75%, 0 75%);
    }
    .squarred-sm{
      width:180px;
      height:180px;
    }
    .pano-sm{
      width:65%;
      height:180px;
    }
  }


}

//SECTION Services Slider 2
#services{
  background:$gris-light;
  @extend %padding-section;

  .list-services{
    @include flex-standard(column,center,flex-start);
       & li{
         position: relative;
         display:inline-block;
         height:45px;
         line-height:1;
         padding:5px 3px;
         background-color:transparent;
         @include transition-standard();
         @extend %btn-radius;
          a{
            color:$bleu;
            background:transparent;
             &.active{
               color:$blanc;
               background:$bleu !important;
             }
            }
         &:hover,&:focus{
           background-color:$bleu;
           &::before{
             content:'';
             display:inline-block;
             position:absolute;
             left:8px;
             top:50%;
             transform:translate(-50%,-50%);
             @include bg-sizing-pseudo-el(20px,20px);
             background:url('../img/icon/right-arrow-blanc.svg') no-repeat center;
             vertical-align: middle;
           }
             a, .active{
               color:$blanc;
               background:$bleu;
             }
         }
          }

  }
  //position du tab-pane quand actif
  .front-slide.active{
    display:flex;
    justify-content: center;
  }

  .services-slider--content{
    width:75%;
    min-height:250px;
    padding:15px;
    display:flex;
    justify-content: space-between;
    opacity:1;
    background:$blanc;
    outline:1px solid $gris;
    @include box-shadow(0,5px,6px,rgba($gris,0.55));

    //.left--content,.right--content{
    //  width:50%;
    //}
    .left--content{
      width:55%;
      @include flex-standard(column,space-around,flex-start);

        h3{
          font-size:$h3;
          color:$gris;
          line-height:1.1;
          margin-bottom:1rem;
        }
        p{
          line-height:1.25;
          color:$noir;
        }
    }
    .right--content{
      width:40%;
      @include flex-standard(column,center,flex-end);
        img{
          max-width:90%;
        }

    }
  }

}

//SECTION Blog
#blog-news{
  @extend %padding-section;

  //si besoin de center les articles comme sur maquette
  //.blog_gallery{
  //  width:75%;
  //  margin:0 auto;
  //}
  .blog_content{
    margin-top:1rem;

      .blog_content--top{
        @include flex-standard(row,flex-start,center);
        margin-bottom:1rem;

        .tag{
          @extend %tag-articles;
          font-size:$tag;
          &:first-of-type{
            background:rgba($bleu,0.25);
            color:$bleu;
            margin-right:1rem;
          }
          &:nth-of-type(2){
            background:rgba($gris,0.25);
            color:$gris;
          }
        }
        .date-post{
          margin:0 1rem 0 auto;
          font-style: italic;
        }
      }
      .blog_content--post{
        h2{
          font-size:$h2;
          color:$gris;
          margin-bottom:2rem;
        }
        p{
          @extend %text-overflow;
          line-height:1.1;
          color:$noir;
        }


      }
  }

}













