@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,800,900");
@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/segoeui.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body, html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Open Sans", sans-serif, "Roboto", sans-serif, sans-serif; }

ul, ol {
  list-style-type: none; }

a, a:hover, a:focus {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover; }

/*----Supports_CrossBrowser-----*/
@supports (scrool-behavior: smooth) and (font-smoothing: antialised) {
  html, body {
    font-smoothing: antialised;
    overflow: scroll;
    -webkit-scroll-behavior: smooth;
    -moz-scrool-behavior: smooth;
    -ms-scrool-behavior: smooth;
    -o-scrool-behavior: smooth; } }

@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/segoeui.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/segoeui.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*styles des entete Title des section*/
/*ELEMENTS*/
/*MODIFIER */
.list-item--active {
  background: none;
  border: none; }
  .list-item--active:before {
    content: '';
    background: url("../../assets/icone/check.svg") no-repeat center;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }

@-webkit-keyframes arrow-swipe-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  50% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  75% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes arrow-swipe-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  50% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  75% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes arrow-swipe-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  50% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
  75% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes arrow-swipe-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  50% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
  75% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes scale_updown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale_updown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes arrow_hover {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, -60%, 0);
    transform: translate3d(-50%, -60%, 0); }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); } }

@keyframes arrow_hover {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, -60%, 0);
    transform: translate3d(-50%, -60%, 0); }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); } }

@-webkit-keyframes blink_icones {
  0% {
    fill: #fff; }
  50% {
    fill: #f8ef00;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    fill: #fff; } }

@keyframes blink_icones {
  0% {
    fill: #fff; }
  50% {
    fill: #f8ef00;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    fill: #fff; } }

.container {
  max-width: 1300px; }

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0  !important; }

.nav-tabs {
  border: none; }

.nav-tabs > li > a {
  border: none;
  border-radius: 0 !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none;
  border: none; }

@media all and (max-width: 640px) {
  .container {
    max-width: 780px; } }

@media all and (max-width: 780px) {
  .container {
    max-width: 990px; } }

@media all and (max-width: 990px) {
  .container {
    max-width: 1080px; } }

@media all and (max-width: 1200px) {
  .container {
    width: 1300px; } }
