@import '../tools/placeholders';

#main-header{
  min-height:100px;
  padding:5px 0;
  top:0;
  @include flex-standard(row,space-between,center);
  background-color:$blanc;
  box-shadow: 0 1px 1px $gris-light, 0 2px 4px rgba($noir,0.55);
  //à activer si besoin
    &.fixed-top{
      position: fixed;
      width:100%;
      z-index:999;
    }

  .logo-brand{
        img{
          width:180px;
          max-width:200px;
          height:auto;
          object-fit:cover;
          margin-right:0;
        }
  }

  #contact{
      ul{
        @include flex-standard(column,space-around,flex-start);
        padding-left:0;
        margin:0;
          li{
            &::before{
              content:'';
              display:inline-block;
              @include bg-sizing-pseudo-el(14px,14px);
              margin-right:8px;
              vertical-align: middle;
            }
                &.tel-contact{
                    &::before{
                      background:url('../img/icon/tel-contact.svg') no-repeat center;
                    }
                }
                &.mail-contact{
                  &::before{
                    background:url('../img/icon/mail-contact.svg') no-repeat center;
                  }
                }
            }
              a{
                color:$gris;
                font-size:$small-nav-item;

              }
          }
      }

  }

#main-nav {

    ul{
      @include flex-standard(row,center,center);

      li{
        @include flex-standard(row,space-between,center);
        flex:2 0 auto;
        margin:0 5px;
        background-color: transparent;
        text-align:center;
        //@include border-custom(1px, solid, transparent);
        @extend %btn-radius;

        &.dropdown{
          flex-direction:column;
          & .dropdown-menu{
            position:absolute;
            margin-top:0;
            padding:2px 0;
            color:$noir;
          }
        }

        a{
          display:block;
          color:$gris;
          padding:5px;
          font-size:1rem;
          background:linear-gradient(to right,rgba($bleu,0.5) 0%, rgba($bleu,0.5) 50%, transparent 50%, transparent 50%) no-repeat
          center;
          background-size:200% 100%;
          background-position: 100% 0;
          border-radius:0 5px 5px 0;
          @include transition-standard();
          &:first-letter{
            text-transform: uppercase;
          }
          &.dropdown-item{
            margin:4px 0;
            border-radius:0;
          }

          &:hover,&:focus,&.active-nav-item{
            color:$blanc;
            background-position: 0 0;
          }
        }
      }
    }
    // fin main-nav
  }

.espace-client{
    width:110px;
    //height:40px;
    line-height: 40px;
    background-color: $bleu;
    border:1px solid transparent;
    @extend %btn-radius;
    a{
      display:block;
      color:$blanc;
      font-size:$small-nav-item;
      font-weight:$bold;
      text-align: center;
      @include transition-standard;
    }

    &:hover,&:focus,&:active {
      background-color:$blanc;
      border-color:$bleu;
      a{
        color:$bleu;
      }

    }

  }

#search-bar{
  width:120px;
  height:40px;
  box-shadow:0 0 0 2px $noir;
  padding:2px 2px;
  border-radius:5px;
  @include flex-standard(row,center,center);
  @include transition-standard(width,0.1s,ease-in);

  input[type="search"]{
    width:75%;
    height:35px;
    background:transparent !important;
    padding:2px;
    border:none;
  }

  button[type="submit"]{
    @include bg-sizing-pseudo-el(30px,30px);
    background:url('../img/icon/loupe.svg') no-repeat center;
    border:none;
  }

    &:focus-within,&.active-search{
     width:180px;
    }
}


